.book-detail {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000000;
  background-color: #ffffff;
}

.book-detail img {
  max-width: 100%;
  max-height: 400px; 
  object-fit: cover; 
}

.book-detail h2 {
  margin-top: 20px;
  color: #333333;
}

.book-detail p {
  margin-top: 10px;
  color: #666666;
}

.book-detail button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #008CBA;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-detail button:hover {
  background-color: #005f88;
}

.book-detail label, .new-genre {
  display: block;
  margin-top: 20px;
}

.book-detail input, .book-detail textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.book-detail .genres, .book-detail .new-genre, .book-detail .selected-genres {
  margin-top: 20px;
}

.book-detail .selected-genre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.genre-button {
  background-color: #e7e7e7;
  margin: 5px;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  border: 1px solid #e7e7e7;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.comment.reply {
  margin-left: 20px;
  border-color: #d7d7d7;
}