.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em; /* Khoảng cách giữa các sách */
  justify-content: flex-start;
  padding: 2em;
}

.book {
  transition: transform 0.3s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.book:hover {
  transform: scale(1.05); /* Tăng kích thước khi hover */
  background-color: #eef; /* Thay đổi màu nền khi hover */
}

.book h3, .genre-buttons {
  white-space: nowrap; /* Ngăn chặn text từ việc xuống dòng */
  overflow: hidden; /* Ẩn text dư ra */
  text-overflow: ellipsis; /* Thêm dấu ba chấm nếu text bị cắt */
  max-width: 90%; /* Giới hạn chiều rộng của text */
}

input[type="text"] {
    padding: 0.5em;
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.genre-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1em;
}

.genre-list button {
    cursor: pointer;
    padding: 0.5em 1em;

    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.genre-list button:hover {
    background-color: #0056b3;
}

.view-details-button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: #218838;
}

.book {
    width: calc(33.333% - 1em);
    margin-bottom: 2em;
    background-color: #f9f9f9;
    padding: 1em;
    box-shadow: 0px 0px 10px 0px #ccc;
    border-radius: 5px;
    position: relative;
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    cursor: pointer;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 0 0 0 3px;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c82333;
}

.book img {
    width: 100%;
    height: auto;
    border-radius: 3px;
}

.book h3 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.book p {
    margin: 0.5em 0;
}

.genre-buttons {
    margin: 1em 0;
}

.genre-button {
    cursor: pointer;
    padding: 0.25em 0.5em;
    background-color: #6c757d;
    color: #020000;
    border: none;
    border-radius: 3px;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    transition: background-color 0.3s;
}

.genre-button:hover {
    background-color: #5a6268;
}

.delete-genre-button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    transition: background-color 0.3s;

}


@media (max-width: 768px) {
    .book {
        width: calc(50% - 1em);
    }
}

@media (max-width: 576px) {
    .book {
        width: 100%;
    }
}

