.book-add {
    width: 60%;
    margin: 2em auto;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.book-add h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.genres, .selected-genres {
    margin: 2em 0;
}

.new-genre, .selected-genre {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

.new-genre input {
    flex-grow: 1;
}

button {
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.submit-button {
    display: block;
    margin: 1em 0;
    padding: 1em 2em;
    background-color: #28a745;
}

.submit-button:hover {
    background-color: #218838;
}