.accounts-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
  }
  
  .accounts-list {
    list-style-type: none;
    padding: 0;
  }
  
  .account-item {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    position: relative;
  }
  
  .account-item p {
    margin: 5px 0;
  }
  
  .detail-button, .delete-button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    bottom: 10px;
  }
  
  .detail-button {
    left: 10px;
  }
  
  .delete-button {
    right: 10px;
  }
  
  .detail-button:hover, .delete-button:hover {
    background-color: #0056b3;
  }
  