/* Profile.css */
.profile-container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .profile-container img {
    max-width: 400px;
    height: auto;
    border-radius: 50%;
  }
  
  .profile-container p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .profile-container label {
    display: block;
    margin: 10px 0;
  }
  
  .profile-container input[type="text"],
  .profile-container input[type="email"],
  .profile-container input[type="tel"],
  .profile-container select,
  .profile-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .profile-container input[type="file"] {
    padding: 10px;
    border: none;
  }
  
  .profile-container button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-container button:hover {
    background-color: #218838;
  }
  